<?xml version='1.0' encoding='utf-8'?>
<SVSimulatorConfig><Network><Interface>\Device\NPF_{69335892-E5A4-4423-8569-A1CC046338CE}</Interface><DestinationMAC>01:0C:CD:04:00:01</DestinationMAC><VLAN_ID>0</VLAN_ID><APPID>4000</APPID><svID>SimulatedSVStream</svID></Network><Sampling><Frequency_Hz>50</Frequency_Hz><SamplesPerCycle>256</SamplesPerCycle></Sampling><Electrical><VoltageAmplitude_V>100.0</VoltageAmplitude_V><CurrentAmplitude_A>5.0</CurrentAmplitude_A><Voltage3H_percent>0.0</Voltage3H_percent><Voltage5H_percent>0.0</Voltage5H_percent><CosPhi>1.0</CosPhi></Electrical></SVSimulatorConfig>